[remote "docker-library"]
	url = https://github.com/docker-library/mysql.git
	fetch = +refs/heads/*:refs/remotes/docker-library/*
[remote "github"]
	url = git@github.com:Nabalot/mysql.git
	fetch = +refs/heads/*:refs/remotes/github/*
[remote "origin"]
	url = git@github.com:huangyingw/docker-library-mysql.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[gsync]
    remote = docker-library
    target = docker-library/master
[gdif]
    ignore = ./.env
    ignore = ./5.7/*
    ignore = ./docker-compose.ubuntu.yml
    ignore = ./docker-compose.yml
    ignore = ./env.list
[push]
    remote = origin
